:root {
  --bm-lightrose: #b93474;
  --bm-darkrose: #5f1b3b;
  --bm-teal: #4aa69f;
  --bm-blue: #134687;
  --bm-aqua: rgb(98, 167, 209);
  --bm-darkpurple: rgb(94, 38, 113);
  --bm-purple: rgb(108, 72, 137);
  --bm-lightgreen: rgb(168, 203, 138);
  --bm-darkblue: rgb(5, 38, 80);
  --bm-black: rgb(1, 13, 27);

  --orange: rgb(255, 115, 0);

  --primary: var(--bm-black);
  --accent: var(--bm-darkpurple);
  --active: var(--bm-lightrose);
  --highlight: var(--bm-lightgreen);
  --drab: rgb(30, 173, 173);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  caret-color: rgba(0, 0, 0, 0);
}

.wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.empty {
  display: block;
  content: "";
  height: 55px;
  width: 100%;
  clear: both;
}

main {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

main:after {
  clear: both;
  content: "";
  display: block;
}

.landing {
  min-height: 100vh;
  background-size: cover;
  padding: 0rem 5rem;
}

.splash {
  display: flex;
  justify-content: left;
  background-color: white;
  margin-top: 0;
  margin-left: 5%;
  width: 90%;
  padding-top: 100px;
  padding-bottom: 100px;
  height: calc(100vh);
  align-items: center;
}

.splash-img {
  max-width: 100%;
  max-height: 100%;
  min-width: 200px;
  width: auto;
  height: auto;
}

.big-text {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding: 0;
  font-size: 13vw;
  font-family: "Permanent Marker", cursive;
  font-weight: bolder;
  color: var(--bm-aqua);
  white-space: nowrap;
}

.page-heading {
  padding-top: 55px;
  padding-left: 5vw;
  font-size: 4em;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: var(--bm-darkrose);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 6vw;
}

.emphasize-text1 {
  font-family: "Permanent Marker", cursive;
  color: var(--bm-aqua);
}

footer {
  margin-top: 100px;
  display: flex;
  height: 50px;
  background: rgba(90, 64, 64, 0.02);
  align-items: center;
  justify-content: space-around;
  vertical-align: middle;
}

.footer-text {
  display: inline;
  font-family: "Heebo";
  color: rgba(90, 64, 64, 0.3);
  color: var(--bm-darkblue);
  opacity: 0.7;
  font-size: 0.8rem;
  text-align: center;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.resume-viewer {
  width: 100%;
  margin-top: 55px;
  height: calc(100vh - 65px);
  overflow: visible;
  margin-bottom: 0;
}
